<div class = "container">

  <h1>These are all the cocktails that are made with <%= @ingredient.name %>. </h1>
  <h4> Will you try them all?</h4>

  <div class = "row">
    <% @ingredient.cocktails.each do |cocktail| %>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= link_to cocktail_path(cocktail) do %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://lorempixel.com/400/200/food');">
            <div class="card-category"><%= cocktail.name %></div>
            <div class="card-description">
              <h2>Some stuff</h2>
              <p>Very cool stuff, useful and smart</p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
